/* Default styles for larger screens */

.img-fluid {
    max-width: 100%;
    height: auto;
}

.about-section {
    position: relative;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.services-section {
    position: relative;
    z-index: 10;
    margin-bottom: -50%;
}

.text-part h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    padding-left: 45px;
}

.single-line-heading {
    white-space: nowrap;
}

.text-part .highlight {
    color: #a183e7;
}

.text-part .list {
    padding-top: 30px;
    padding-right: 20px;
}

.text-part .text-left1 {
    text-align: center;
}

.text-part .text-left2 {
    text-align: center;
}

.text-part .text-left3 {
    text-align: center;
}

.text-part .padding1 {
    padding-left: 72.5px;
}

.text-part .padding2 {
    padding-left: 85px;
}

.text-part .padding3 {
    padding-left: 91px;
}

.text-part .description {
    font-size: 1.25rem;
    color: #ffffff;
    line-height: 1.5;
}

.image-part {
    text-align: center;
}

.animate__zoomIn {
    animation-duration: 1s;
    animation-fill-mode: both;
}
/* Apply the main theme color to the Nav background */
.nav-pills {
  background-color: #0d0325;
}

/* Change the default color of the Nav items (links) */
.nav-pills .nav-link {
  color: #fbf9ff; /* This is the lighter color you provided for text */
  background-color: #27096d; /* Secondary theme color for background */
}

/* Change the color of the Nav item for the active state */
.nav-pills .nav-link.active,
.nav-pills .nav-link:focus,
.nav-pills .nav-link:hover {
  color: #0d0325; /* Dark theme color for text */
  background-color: #a183e7; /* Highlight color for background */
}

/* Media queries for responsiveness */

@media (max-width: 768px) {
    /* Adjust styles for screens up to 768px wide */
    

    .text-part h1 {
        font-size: 3rem; /* Reduce font size for smaller screens */
        padding-left: 20px; /* Adjust padding */
    }

    .text-part .description {
        font-size: 1rem; /* Smaller font size for description */
    }
    .text-part .padding1 {
        padding-left: 165px; /* Center the text on mobile view */
    }
    .text-part .padding2 {
        padding-left: 175px; /* Center the text on mobile view */
    }
    .text-part .padding3 {
        padding-left: 182px; /* Center the text on mobile view */
    }
}

@media (max-width: 576px) {
    /* Adjust styles for screens up to 576px wide */

    .text-part h1 {
        font-size: 2rem; /* Further reduce font size for smaller screens */
        padding-left: 40px; /* Adjust padding */
    }

    .text-part .description {
        font-size: 0.9rem; /* Smaller font size for description */
    }
    .text-part .description {
        font-size: 1rem; /* Smaller font size for description */
    }

    /* You can add more specific adjustments for smaller screens here */
}
