.hero-section {
    position: relative;
    color: #fbf9ff; /* Setting text color as one of the theme colors */
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.carousel-item img {
    height: 65vh; /* Set the height to 65% of the viewport height */
    object-fit: cover; /* Ensure images cover the set height */
}

/* Responsive adjustments */
@media (max-width: 767px) {
    h1 {
        font-size: 1.5rem;
    }
}
