/* In HeroSection.css */

.hero {
    position: relative;
    width: 100%;  /* Adjust as needed */
    height: 100vh;  /* Adjust as needed */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    cursor: default;
    background: rgba(0, 0, 0, 0), 0.5);
}
