/* Navbar Custom Styling */
.navbar {
    background-color: rgba(13, 3, 37, 0.85); /* #0d0325 with transparency */
    border-bottom: 3px solid #27096d;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.navbar-brand, .nav-link {
    color: #fbf9ff !important; /* Text color */
}

.navbar-brand:hover, .nav-link:hover {
    color: #a183e7 !important; /* Hover color */
}

.navbar-toggler-icon {
    filter: invert(1); /* Make the burger icon white */
}
