:root {
  --primary-dark: #0d0325;
  --secondary-dark: #27096d;
  --accent: #a183e7;
  --background: #fbf9ff;
}
.App {
  width: 100vw; /* Set the width to 100% of the viewport width */
}
html, body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {
  background-color: var(--background);
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.loading-screen, .hero-section, .services, .about-us, .enquiry-form {
  width: 100vw; /* Set the width to 100% of the viewport width */
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}


button {
  background-color: var(--accent);
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--secondary-dark);
}
